body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  justify-content: space-around;
}

body {
  background-color: #161616
}

.block {
  background-color: #454545;
  padding: 20px;
}

.block-one {
  background-color: #454545;
  padding: 20px;
}

img {
  width: 250px;
}

.cartIcon {
  width: 50px
}

.categoryButton:hover {
  background-color: #FFA559;
  color: #454545;  
}

.categoryButtonSelected {
  background-color: #FF8303;
  color: #454545;  
}

.categoryButton {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}
.icon {
  width: 20px;
}
h1 {
  font-size: 25px;
  color: #FF8303;
}
p, h2, h3, button {
  font-size: 18px;
  color: #FFE6C7;
}

.text-small {
  font-size: 15px;
}

.text-attention {
  background-color: #1b1a17af;
  border: 1px solid black;
  box-shadow: 2px 2px 2px #e3d2c66c;
  padding: 10px;
  margin: 5px;
  letter-spacing: 1px;
}

button {
  background-color: #FF8303;
  color: #454545;  
  margin: 5px 10px 5px 10px;
  box-shadow: 2px 2px 2px #e3d2c66c;
}

.btn-add {
  margin-bottom: 20px;
}

.cart-item {
  border-bottom: 2px solid #A35709;
  transition: 3s;
}

.item-card{
  border-bottom: 2px solid #A35709;
  margin-bottom: 20px;
}